.main-nav {
  display: flex;
  padding: 0;
  margin: 0;
  justify-content: space-between;
  align-items: center;
  list-style: none;

  &__item {
    &_left_auto {
      margin-left: auto;
      margin-right: 10px;
    }
  }

  &__link {
    display: block;
    padding: 20px;
    font-size: 18px;
    font-family: Roboto, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: 16px;
    color: #555248;
    text-decoration: none;
    transition: color .2s;

    &_active,
    &:hover {
      color: #A69876;
    }
  }

  &__button {
    margin-left: auto;
  }
}